<div class="team-list container">
    <div class="team-list__search row">
        <div class="col">
            <form class="form-inline" [formGroup]="form" (ngSubmit)="search()">
                <div class="form-group">
                    <input class="form-control" id="league" placeholder="Search for a League" formControlName="league">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <app-team-thumb class="col-12 col-sm-4 col-md-3" *ngFor="let team of teams" [team]="team"></app-team-thumb>
    </div>
</div>